/*-----------input form---------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
background-color: #f2f2f2;
}

#mainDiv{
    /*width: 60vw;*/
    left: 0;
    right: 0;
    margin-top: 2% !important;
    box-shadow: 0px 0px 5px 0px lightgrey;
    border-radius: 10px;
}

#mainDiv h3{
    text-align: center;
}

.cvPage{
font-size: 15px;
    justify-content: center;
margin: auto;
    display: flex;
    flex-direction: row;

    /*background-image: url("/assets/img/357389473_1997236237290996_7602824287450880306_n.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
}

.newBody{
    height: 100vh; !important;
 width: 90vw; !important;
    justify-content: center;
    margin: 0;
    background-color: white; !important;

}
.cv-container{
    /*background-color: black;*/
    /*color: white; !important;*/
    width: 40%; !important;
    height: 100vh; !important;
    border-right: black 3px solid;
    background-color: white; !important;
}
.cv-container2{
    height: 100vh; !important;
    width: 60%; !important;
    background-color: white; !important;
}

#pImg{
    border-radius: 2px;
    box-shadow: 0px 0px 2px black;
    /*border: 2px solid yellow;*/
    margin-left: 50px;
    margin-top: 10px;
}

.tHead{
    margin-left: 10px;
    font-size: 15px;
    color: black;
}

.tData{
    margin-top: 1px;
    margin-left: 10px;
    font-size: 13px;
    color: grey;
}

#NameLarge{
    margin-left: 20px;
}
